/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 100% Arial, sans-serif;
	line-height: 1em;
	height: 100%;
}
strong {
	font-weight: bold;
}


.wrapper {
	width: 100%;
	height: 100%;
}
.box-wrapper {
	width: 10em;
	min-width: 10em;
	max-width: 10em;
	height: 10em;
	overflow: hidden;
	display: inline-block;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 6em;
	background: #FFE680;
	overflow: hidden;
}

.box-header {
	height: 1em;
	background: lightgrey;
	overflow: hidden;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	height: 100%;
	position: relative;
}
.box-middle {
	width: 100%;
	position: relative;
}
.middle:after, .box-middle:after {
	display: table;
	clear: both;
	content: '';
}
.container, .box-container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 20em 0 20em;
}
.box-content {
	padding: 0 2em 0 2em;
	height: 8em;
	min-height: 8em;
	overflow: hidden;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 20em;
	height: 100%;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
	overflow: hidden;
}

.box-left-sidebar {
	float: left;
	width: 2em;
	height: 8em;
	margin-left: -100%;
	position: relative;
	background: #FFACAA;
	overflow: hidden;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 20em;
	height: 100%;
	margin-left: -20em;
	position: relative;
	background: #FFACAA;
	overflow: hidden;
}
.box-right-sidebar {
	float: left;
	width: 2em;
	height: 8em;
	margin-left: -2em;
	position: relative;
	background: #B5E3FF;
	overflow: hidden;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 4em;
	background: #BFF08E;
}
.box-footer {
	height: 1em;
	background: lightgrey;
}

